In [2]:
import pandas as pd
import numpy as np

In [63]:
data1 = pd.read_csv('./Cryptocurrencies/Initial Datasets/bitcoin_2019-01-01_2024-06-17.csv')
data2 = pd.read_csv('./Cryptocurrencies/Initial Datasets/dogecoin_2019-01-01_2024-06-17.csv')
data3 = pd.read_csv('./Cryptocurrencies/Initial Datasets/ethereum_2019-01-01_2024-06-17.csv')

In [58]:
data1

,Start,End,Open,High,Low,Close,Volume,Market Cap
0,2024-06-16,2024-06-17,66210.230000,66964.660000,66064.030000,66661.050000,7.646556e+10,1.309092e+12
1,2024-06-15,2024-06-16,66047.880000,66441.350000,65916.000000,66198.060000,9.122045e+10,1.304560e+12
2,2024-06-14,2024-06-15,66897.930000,67343.120000,65117.840000,66052.460000,9.894731e+10,1.310506e+12
3,2024-06-13,2024-06-14,68185.890000,68393.590000,66436.080000,66771.550000,1.116001e+11,1.327369e+12
4,2024-06-12,2024-06-13,67365.610000,69980.040000,66960.380000,68270.220000,1.073553e+11,1.343632e+12
...,...,...,...,...,...,...,...,...
1989,2019-01-05,2019-01-06,3876.743901,3928.925000,3850.442904,3866.004564,4.197365e+09,6.786984e+10
1990,2019-01-04,2019-01-05,3847.083953,3888.225089,3795.299372,3877.816632,3.521628e+09,6.709019e+10
1991,2019-01-03,2019-01-04,3935.381479,3935.381479,3828.512308,3843.996640,4.077089e+09,6.774767e+10
1992,2019-01-02,2019-01-03,3852.524626,3944.482761,3825.302832,3938.625961,3.910034e+09,6.752997e+10
1993,2019-01-01,2019-01-02,3747.289082,3857.661350,3720.528270,3851.181614,3.433814e+09,6.561697e+10

In [64]:
# Remove 'Start' column
data1 = data1.loc[:, ['End', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']]
data2 = data2.loc[:, ['End', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']]
data3 = data3.loc[:, ['End', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']]

# Rename 'End' column to 'Date'
data1 = data1.rename(columns={'End': 'Date'})
data2 = data2.rename(columns={'End': 'Date'})
data3 = data3.rename(columns={'End': 'Date'})

In [65]:
# Convert 'Date' column to datetime
data1['Date'] = pd.to_datetime(data1.Date)
data2['Date'] = pd.to_datetime(data2.Date)
data3['Date'] = pd.to_datetime(data3.Date)

In [66]:
# Sort data ascending by Date
data1 = data1.sort_values(['Date'])
data2 = data2.sort_values(['Date'])
data3 = data3.sort_values(['Date'])

# Reset index
data1 = data1.reset_index(drop=True)
data2 = data2.reset_index(drop=True)
data3 = data3.reset_index(drop=True)

In [68]:
# Export CSV
data1.to_csv('BTC.csv')
data2.to_csv('ETH.csv')
data3.to_csv('DOGE.csv')

In [53]:
# Set 'Date' as index column
data1 = data1.set_index('Date')
data1.index = pd.to_datetime(data1.index)

data2 = data2.set_index('Date')
data2.index = pd.to_datetime(data2.index)

data3 = data3.set_index('Date')
data3.index = pd.to_datetime(data3.index)

In [54]:
# View processed dataframe
data1

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2019-01-02,3747.289082,3857.661350,3720.528270,3851.181614,3.433814e+09,6.561697e+10
2019-01-03,3852.524626,3944.482761,3825.302832,3938.625961,3.910034e+09,6.752997e+10
2019-01-04,3935.381479,3935.381479,3828.512308,3843.996640,4.077089e+09,6.774767e+10
2019-01-05,3847.083953,3888.225089,3795.299372,3877.816632,3.521628e+09,6.709019e+10
2019-01-06,3876.743901,3928.925000,3850.442904,3866.004564,4.197365e+09,6.786984e+10
...,...,...,...,...,...,...
2024-06-13,67365.610000,69980.040000,66960.380000,68270.220000,1.073553e+11,1.343632e+12
2024-06-14,68185.890000,68393.590000,66436.080000,66771.550000,1.116001e+11,1.327369e+12
2024-06-15,66897.930000,67343.120000,65117.840000,66052.460000,9.894731e+10,1.310506e+12
2024-06-16,66047.880000,66441.350000,65916.000000,66198.060000,9.122045e+10,1.304560e+12
2024-06-17,66210.230000,66964.660000,66064.030000,66661.050000,7.646556e+10,1.309092e+12